
<!-- Page Content -->

<div class="container">
	<div class="row">

		
		<div class="col-md-8">
			<strong style="color: blue;">Ajouter un nouveau article</strong>
			<hr>
			<form ng-submit="addPost()">
			<label style="color: gray;">Nom de l'article</label> <input type="text"
				class="form-control" placeholder="Name" required
				data-validation-required-message="SVP entrez le nom de l'article."
				ng-model="newPost.name">
			<p class="help-block text-danger"></p>

			<label style="color: gray;">Résumé</label>
			<!-- <textarea rows="5" class="form-control" placeholder="Abstract"
				id="abstract" required
				data-validation-required-message="SVP entrez une résumé."
				ng-model="newPost.resume"></textarea>
			<p class="help-block text-danger"></p> -->
			
			<div text-angular="text-angular" name="Resume"
				ng-model="newPost.resume" ta-disabled='disabled' id="resume"></div>
			<p class="help-block text-danger"></p>

			<label style="color: gray;">Contenu</label>
			<div text-angular="text-angular" name="Article"
				ng-model="newPost.content" ta-disabled='disabled' id="content"></div>
			<p class="help-block text-danger"></p>
			
			
			
			<input type="submit" id="submit" value="Create" class="btn btn-default"/>
			</form>
		</div>
	</div>

</div>

