<div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    SQL Corporate
                    <small>Apprendre sql comme jouer à la playstation</small>
                </h1>
                <!-- Blog Post -->
				<div ng-repeat = "post in posts">

					<h3>{{post.name}}</h3>
                    <div ng-comment></div>
					</h2>
					<p class="lead">
						by <a href="index.php">{{post.userName}}</a>
					</p>
					<p><span class="glyphicon glyphicon-time"></span> Posted on {{post.publishDate | date:'dd.MM.yyyy H:mm'}}</p>
					<!--<hr>
					 <img class="img-responsive" src={{post.urlImage}} alt=""> 
					<hr>-->
					<p>{{post.resume}}</p>
					<a class="btn btn-primary" href="#/api/posts/{{post.id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

					<hr>
				</div>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

           <div ng-include src="'partials/side.html'"></div>

        </div>
        <!-- /.row -->

        <hr>

        <div ng-include src="'partials/footer.html'"></div>

    </div>