
<!-- Page Content -->

<div class="container">
	<div class="row">

		<!-- Blog Entries Column -->
		<div class="col-md-8">
			<strong><a href="#/">{{post.name}}</a></strong>
			<p>  <span class="glyphicon glyphicon-user"></span> {{post.userName}}  <span class="glyphicon glyphicon-time"></span> Posted on {{post.publishDate | date:'dd.MM.yyyy H:mm'}}</p>
			<hr>
			<div ng-bind-html="post.content"/>
			<hr/><br/>
			<strong><u>Commentaires</u></strong><span class="badge">{{post.comments.lenght}}</span>
			<div ng-repeat="comment in post.comments">
				<strong>{{comment.userName}}</strong> - <small><a href="#/">Editer</a>/<a href="#/">Supprimer</a></small>
				
				<div ng-bind-html="comment.content"></div>
				
			</div>
			<br> 
			
			<hr>
			
			<form ng-submit="addComment()">
			<label>Name</label> <input type="text" class="form-control"
				placeholder="Name" required
				data-validation-required-message="Please enter your name."
				ng-model="newComment.userName">
			<p class="help-block text-danger"></p>

			<label>Ville</label> <input type="text" class="form-control"
				placeholder="Ville" required
				data-validation-required-message="Please enter city."
				ng-model="newComment.city">
			<p class="help-block text-danger"></p>

			<label>Email Address</label> <input type="email" class="form-control"
				placeholder="Email Address" id="email" required
				data-validation-required-message="Please enter your email address."
				ng-model="newComment.email">
			<p class="help-block text-danger"></p>

			<label>Commentaire</label>
			<!--<textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message." ng-model="newComment.content"></textarea>
            <p class="help-block text-danger"></p>-->

			<div text-angular="text-angular" name="Message"
				ng-model="newComment.content" ta-disabled='disabled' id="message"></div>

			<input type="submit" id="submit" value="Create" class="btn btn-default"/>
			</form>
		</div>
	</div>

</div>

