
<!-- Page Content -->

<div class="container">
	<div class="row">
		<img alt="Developer Book" src="img/logo.png" style="margin-bottom: 50px;"/>
		<!-- Blog Entries Column -->
		<div class="col-md-8">
			<span style="float: left;">
				<strong><a href="#/api/postsByCategory/{{post.category}}">{{post.name}}</a></strong>
			</span>
			<span style="float: right;">
				<a href="#/api/posts"><span class="glyphicon glyphicon-remove" ng-click="delete()"></span></a>
				<a href="#/"><span class="glyphicon glyphicon-pencil"></span></a>
			</span>
			<p>  <span class="glyphicon glyphicon-user"></span> {{post.userName}}  <span style="margin-left: 30px;" class="glyphicon glyphicon-time"></span> {{post.publishDate | date:'dd.MM.yyyy H:mm'}}</p>
			<hr>
			<div ng-bind-html="post.content"/>
			<hr/><br/>
			<strong><u>Commentaires</u></strong><span class="badge">{{post.comments.length}}</span>
			<br>
			<br>
			<div ng-repeat="comment in post.comments">
				<span style="float: left;">
						<span class="glyphicon glyphicon-user"></span> <strong>{{comment.userName}}</strong><span style="margin-left: 30px;" class="glyphicon glyphicon-time"></span> {{post.publishDate | date:'dd.MM.yyyy H:mm'}}
				</span>
				<span style="float: right;">
					<a href="#/"><span class="glyphicon glyphicon-remove"></span></a>
					<a href="#/"><span class="glyphicon glyphicon-pencil"></span></a>
				</span>
                
                <br>
				<div ng-bind-html="comment.content"></div>
				<br>
				
			</div>
			<br> 
			
			<hr>
			
			<form ng-submit="addComment()">
			<label>Name</label> <input type="text" class="form-control"
				placeholder="Name" required
				data-validation-required-message="Please enter your name."
				ng-model="newComment.userName">
			<p class="help-block text-danger"></p>

			<label>Ville</label> <input type="text" class="form-control"
				placeholder="Ville" required
				data-validation-required-message="Please enter city."
				ng-model="newComment.city">
			<p class="help-block text-danger"></p>

			<label>Email Address</label> <input type="email" class="form-control"
				placeholder="Email Address" id="email" required
				data-validation-required-message="Please enter your email address."
				ng-model="newComment.email">
			<p class="help-block text-danger"></p>

			<label>Commentaire</label>

			<div text-angular="text-angular" name="Message"
				ng-model="newComment.content" ta-disabled='disabled' id="message"></div>

			<input type="submit" id="submit" value="Poster" class="btn btn-default"/>
			</form>
		</div>
	</div>

</div>

