 <!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Blog Search Well -->
    <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input class="form-control" ng-model="searchText">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#/api/postsByCategory/1"><strong>Java Core</strong></a>
                    </li>
                    <li><a href="#/api/postsByCategory/2"><strong>Spring</strong></a>
                    </li>
                    <li><a href="#/api/postsByCategory/3"><strong>Java EE</strong></a>
                    </li>
                </ul>
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#/api/postsByCategory/4"><strong>Oracle</strong></a>
                    </li>
                    <li><a href="#/api/postsByCategory/5"><strong>Unix</strong></a>
                    </li>
                    <li><a href="#/api/postsByCategory/6"><strong>Securite</strong></a>
                    </li>
                </ul>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- Side Widget Well -->
    <div class="well">
        <h4>Informatique</h4>
        <p>L informatique est un domaine d activite scientifique, technique et industriel concernant le traitement automatique de l information par l'execution de programmes informatiques par des machines : des systemes embarques, des ordinateurs, des robots, des automates, etc.</p>
		<p>Ces champs d application peuvent etre separes en deux branches, l une, de nature theorique, qui concerne la definition de concepts et modeles, et l autre, de nature pratique, qui s interesse aux techniques concretes de mise en œuvre. Certains domaines de l informatique peuvent etre tres abstraits, comme la complexite algorithmique, et d autres peuvent etre plus proches d un public profane. Ainsi, la theorie des langages demeure un domaine davantage accessible aux professionnels formes (description des ordinateurs et methodes de programmation), tandis que les metiers lies aux interfaces homme-machine sont accessibles à un plus large public.</p>
    </div>

</div>